<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4lyLo2-yQRkTyEfFUgkhRx9OP86g8_BM</string>
	<key>GCM_SENDER_ID</key>
	<string>674694331985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.classicbaramhelper</string>
	<key>PROJECT_ID</key>
	<string>classicbaram-7f9dd</string>
	<key>STORAGE_BUCKET</key>
	<string>classicbaram-7f9dd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:674694331985:ios:c2dea58cea35dcda618270</string>
</dict>
</plist>